body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #6e05ff;
  color: #fff;
}

h1, h2, h3, h3, h5, h6 {
  border-bottom: 1px solid #aaa;
  font-family: 'Open Sans Condensed', sans-serif;
}
